@robotoFontPath: 'fonts';

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Thin.eot');
    src: url('@{robotoFontPath}/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Thin.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Thin.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Thin.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-ThinItalic.eot');
    src: url('@{robotoFontPath}/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-ThinItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-ThinItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-ThinItalic.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Light.eot');
    src: url('@{robotoFontPath}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Light.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Light.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Light.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-LightItalic.eot');
    src: url('@{robotoFontPath}/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-LightItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-LightItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-LightItalic.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Regular.eot');
    src: url('@{robotoFontPath}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Regular.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Regular.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-RegularItalic.eot');
    src: url('@{robotoFontPath}/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-RegularItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-RegularItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-RegularItalic.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Medium.eot');
    src: url('@{robotoFontPath}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Medium.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Medium.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Medium.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-MediumItalic.eot');
    src: url('@{robotoFontPath}/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-MediumItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-MediumItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-MediumItalic.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Bold.eot');
    src: url('@{robotoFontPath}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Bold.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Bold.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Bold.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-BoldItalic.eot');
    src: url('@{robotoFontPath}/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-BoldItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-BoldItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-BoldItalic.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-Black.eot');
    src: url('@{robotoFontPath}/Roboto-Black.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-Black.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-Black.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-Black.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{robotoFontPath}/Roboto-BlackItalic.eot');
    src: url('@{robotoFontPath}/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('@{robotoFontPath}/Roboto-BlackItalic.woff') format('woff'),
         url('@{robotoFontPath}/Roboto-BlackItalic.ttf') format('truetype'),
         url('@{robotoFontPath}/Roboto-BlackItalic.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: italic;
}
